h1, h2 {
    text-align: center;
}
.container {
    display: flex;
    gap: 20px;
}
.human, .computer{
    width: 50%;
}
.boxes-human, .box-random-computer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.title-computer {
    margin-top: 40px;
}
.rock, .paper, .scissors, .random {
    width: 100px;
    height: 100px;
}
.rock, .paper, .scissors:hover {
    cursor: pointer;
}